<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cartridge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,18}</string>
                <key>spriteSourceSize</key>
                <string>{7,18}</string>
                <key>textureRect</key>
                <string>{{0,0},{7,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,39}</string>
                <key>spriteSourceSize</key>
                <string>{41,39}</string>
                <key>textureRect</key>
                <string>{{47,0},{41,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,43}</string>
                <key>spriteSourceSize</key>
                <string>{40,43}</string>
                <key>textureRect</key>
                <string>{{7,0},{40,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,41}</string>
                <key>spriteSourceSize</key>
                <string>{192,41}</string>
                <key>textureRect</key>
                <string>{{176,982},{192,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,40}</string>
                <key>spriteSourceSize</key>
                <string>{192,40}</string>
                <key>textureRect</key>
                <string>{{0,1023},{192,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,42}</string>
                <key>spriteSourceSize</key>
                <string>{200,42}</string>
                <key>textureRect</key>
                <string>{{192,1023},{200,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,104}</string>
                <key>spriteSourceSize</key>
                <string>{428,104}</string>
                <key>textureRect</key>
                <string>{{0,1065},{428,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>me.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,122}</string>
                <key>spriteSourceSize</key>
                <string>{98,122}</string>
                <key>textureRect</key>
                <string>{{308,92},{98,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>me_die1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,122}</string>
                <key>spriteSourceSize</key>
                <string>{98,122}</string>
                <key>textureRect</key>
                <string>{{0,214},{98,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>me_die2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,122}</string>
                <key>spriteSourceSize</key>
                <string>{98,122}</string>
                <key>textureRect</key>
                <string>{{196,214},{98,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>me_die3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,122}</string>
                <key>spriteSourceSize</key>
                <string>{98,122}</string>
                <key>textureRect</key>
                <string>{{406,92},{98,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>me_die4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,122}</string>
                <key>spriteSourceSize</key>
                <string>{98,122}</string>
                <key>textureRect</key>
                <string>{{98,214},{98,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,36}</string>
                <key>spriteSourceSize</key>
                <string>{59,36}</string>
                <key>textureRect</key>
                <string>{{206,0},{59,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane1_die1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,36}</string>
                <key>spriteSourceSize</key>
                <string>{59,36}</string>
                <key>textureRect</key>
                <string>{{88,0},{59,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane1_die2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,36}</string>
                <key>spriteSourceSize</key>
                <string>{59,36}</string>
                <key>textureRect</key>
                <string>{{147,0},{59,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane1_die3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,36}</string>
                <key>spriteSourceSize</key>
                <string>{59,36}</string>
                <key>textureRect</key>
                <string>{{265,0},{59,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,92}</string>
                <key>spriteSourceSize</key>
                <string>{70,92}</string>
                <key>textureRect</key>
                <string>{{394,0},{70,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane2_die1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,92}</string>
                <key>spriteSourceSize</key>
                <string>{70,92}</string>
                <key>textureRect</key>
                <string>{{324,0},{70,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane2_die2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,92}</string>
                <key>spriteSourceSize</key>
                <string>{70,92}</string>
                <key>textureRect</key>
                <string>{{140,92},{70,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane2_die3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,92}</string>
                <key>spriteSourceSize</key>
                <string>{70,92}</string>
                <key>textureRect</key>
                <string>{{0,92},{70,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane2_die4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,92}</string>
                <key>spriteSourceSize</key>
                <string>{70,92}</string>
                <key>textureRect</key>
                <string>{{70,92},{70,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,256}</string>
                <key>spriteSourceSize</key>
                <string>{165,256}</string>
                <key>textureRect</key>
                <string>{{165,726},{165,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane3_die1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,256}</string>
                <key>spriteSourceSize</key>
                <string>{165,256}</string>
                <key>textureRect</key>
                <string>{{330,470},{165,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane3_die2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,256}</string>
                <key>spriteSourceSize</key>
                <string>{165,256}</string>
                <key>textureRect</key>
                <string>{{165,470},{165,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane3_die3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,256}</string>
                <key>spriteSourceSize</key>
                <string>{165,256}</string>
                <key>textureRect</key>
                <string>{{294,214},{165,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane3_die4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,256}</string>
                <key>spriteSourceSize</key>
                <string>{165,256}</string>
                <key>textureRect</key>
                <string>{{330,726},{165,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane3_die5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,256}</string>
                <key>spriteSourceSize</key>
                <string>{165,256}</string>
                <key>textureRect</key>
                <string>{{0,470},{165,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane3_die6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,256}</string>
                <key>spriteSourceSize</key>
                <string>{165,256}</string>
                <key>textureRect</key>
                <string>{{0,726},{165,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,35}</string>
                <key>spriteSourceSize</key>
                <string>{98,35}</string>
                <key>textureRect</key>
                <string>{{210,92},{98,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startLabel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,38}</string>
                <key>spriteSourceSize</key>
                <string>{176,38}</string>
                <key>textureRect</key>
                <string>{{0,982},{176,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>plane.png</string>
            <key>size</key>
            <string>{504,1169}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97623ad8052180f572640d2139204608:0e3c33a183e253388a16861d1b15f9be:592bb08bfb59882b4fb915a6935c1201$</string>
            <key>textureFileName</key>
            <string>plane.png</string>
        </dict>
    </dict>
</plist>
